body {
    font-size: 24px;
}
h1{
    font-size: larger;
}
h2{
    font-size: medium;
}
h3{
    font-size: small;
}
ol
ol
ol
ol
p.bold{
    font-weight: bold;
}
p.bold{
    font-style: italic;
}
p.italic{
    font-style: italic;
}